.burger {
  position: absolute;
  top: 25px;
  right: 56px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
  padding: 17px 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: #fff;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
  span {
    height: 1px;
    width: 100%;
    background-color: currentColor;
    &:last-child {
      width: 60%;
    }
  }
  @include r(1200) {
    display: flex;
  }
  @include r(768) {
    right: 32px;
  }
  @include r(650) {
    top: 13px;
  }
  @include r(480) {
    right: 12px;
  }
}

.close {
  margin-left: 30px;
}
