.logo {
  display: flex;
  font-size: 100%;
  align-items: center;
  max-width: 170px;
  @include r(650) {
    transition: transform .3s ease-in-out;
  }
  &__img {
    flex-shrink: 0;
    width: 54px;
    height: 45px;
    fill: #13264A;
    opacity: 0.45;
    @include r(650) {
      fill: #fff;
      opacity: 1;
    }
  }
  &__text {
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.3em;
    color: #13264A;
    opacity: 0.45;
    font-feature-settings: 'salt' on, 'ss01' on;
    @include r(650) {
      color: #fff;
      opacity: 1;
    }
  }
}

.footer-logo {
  font-size: 100%;
  align-items: center;
  max-width: 330px;
  @include r(1440) {
    max-width: 294px;
  }
  @include r(768) {
    margin: 0 auto;
  }
  @include r(480) {
    margin: 32px auto 16px;
    max-width: 138px;
  }
  &__img {
    flex-shrink: 0;
    width: 110px;
    height: 91px;
    @include r(1440) {
      width: 96px;
      height: 79px;
    }
    @include r(480) {
      width: 46px;
      height: 39px;
    }
  }
  &__text {
    margin-left: 10px;
    font-weight: 500;
    font-size: 2.312em;
    line-height: 1.3em;
    color: #C5C9CE;
    font-feature-settings: 'salt' on, 'ss01' on;
    @include r(1440) {
      font-size: 2em;
      line-height: 1.3;
    }
    @include r(480) {
      font-size: 15px;
    }
  }
}
