.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 50px;
  background-color: #F6F6F6;
  &_next {
    border-radius: 0 30% 30% 0;
  }
  &_prev {
    border-radius: 30% 0 0 30%;
  }
  svg {
    width: 10px;
    height: 24px;
  }
  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

.face-slider-nav {
  position: absolute;
  top: 320px;
  right: 0;
  z-index: 10;
  display: flex;
  @include r(1440) {
    top: 55%;
  }
  @include r(1200) {
    display: none;
  }
}

.hero {
  &__swiper-navigation {
    display: none;
    @include r(1600) {
      display: flex;
    }
  }
  &__slider-navigation {
    display: flex;
    @include r(1440) {
      order: -1;
    }
    @include r(768) {
      display: none;
    }
  }
}

.help-button-prev,
.help-button-next {
  @include r(480) {
    display: none;
  }
}
