.social {
  display: flex;
  gap: 0 8px;
  @include r(768) {
    justify-content: center;
  }
  @include r(480) {
    justify-content: space-between;
  }
  &__item {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #374451;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 4;
    @include r(650) {
      mask-image: none;
      border-radius: 8px;
      width: 35px;
      height: 35px;
      mask-image: none;
      border-radius: 8px;
    }
  }
}
