<section class="bottom-btns">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="d-flex">
          <div class="bottom-btns__sum ">
            <button class="btn-reset bottom-btns__btn">500 <span>₽</span></button>
            <button class="btn-reset bottom-btns__btn">2400 <span>₽</span></button>
            <button class="btn-reset bottom-btns__btn">3200 <span>₽</span></button>
            <button class="btn-reset bottom-btns__btn">6000 <span>₽</span></button>
            <input type="number" name="other-sum" class="bottom-btns__input" placeholder="Другая сумма"></input>
          </div>
          <div class="bottom-btns__submit">
            <button class="btn-reset bottom-btns__btn bottom-btns__btn_blue">Хочу помочь</button>
            <button class="btn-reset bottom-btns__btn">Нужна помощь</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
