<div class="js-stop-header"></div>
<footer class="footer footer_desktop" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3 col-xl-3">
        <a href="" class="footer-logo d-flex">
          <svg class="footer-logo__img">
            <use xlink:href="assets/img/sprite.svg#footer-logo"></use>
          </svg>
          <p
            class="footer-logo__text">Огромное сердце</p>
        </a>
        {{> social}}
        <p class="footer__copy">
          &copy; 2019–2021 БФ «Огромное сердце»
        </p>
      </div>
      {{> footer-nav}}
      {{> footer-contacts}}
    </div>
  </div>
</footer>
<footer class="footer footer_mobile">
  <div class="container">
    <div class="row">
      {{> footer-nav}}
      {{> footer-contacts}}
      <div class="col-sm-6 col-md-6">
        {{> social}}
      </div>
      <div class="mobile-only col-6">
        <p class="footer__caption">По всем вопросам</p>
        <a href="mailto:info@greatheart.ru" class="footer__email">info@greatheart.ru</a>
      </div>
      <div class="mobile-only col-6 pl-0 pl-sm-1">
        <p class="footer__caption">Партнерам</p>
        <a href="mailto:partners@greatheart.ru" class="footer__email">partners@greatheart.ru</a>
      </div>
      <div class="col-sm-6 col-md-6 desktop-only">
        <p class="footer__copy">
          &copy; 2019–2021 БФ «Огромное сердце»
        </p>
      </div>
      <div class="col-sm-4 col-md-4 offset-sm-4 col-lg-3 col-xl-3 mt-3">
        <a href="" class="footer-logo d-flex">
          <svg class="footer-logo__img">
            <use xlink:href="assets/img/sprite.svg#footer-logo"></use>
          </svg>
          <p
            class="footer-logo__text">Огромное сердце</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 mobile-only">
        <p class="footer__copy">
          &copy; 2019–2021 БФ «Огромное сердце»
        </p>
      </div>
    </div>
  </div>
</footer>

