<div class="col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 footer-nav_wr">
  <nav class="footer-nav ml-lg-4">
    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a href="reports.html" class="footer-nav__link">Отчеты</a>
      </li>
      <li class="footer-nav__item">
        <a href="documents.html" class="footer-nav__link">Документы</a>
      </li>
      <li class="footer-nav__item">
        <a href="#hero" class="footer-nav__link">Виды помощи</a>
      </li>
    </ul>
    <div class="desktop-only">
      <p class="footer__caption">По всем вопросам</p>
      <a href="mailto:info@greatheart.ru" class="footer__email">info@greatheart.ru</a>
    </div>
  </nav>
</div>
<div class="col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 offset-sm-0 offset-md-1 footer-nav_wr pl-0 pl-sm-1">
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a href="#volunteering" class="footer-nav__link">Волонтерам</a>
      </li>
      <li class="footer-nav__item">
        <a href="#wards" class="footer-nav__link">Подопечным</a>
      </li>
      <li class="footer-nav__item">
        <a href="#partners" class="footer-nav__link">Партнерам</a>
      </li>
    </ul>
    <div class="desktop-only">
      <p class="footer__caption">Партнерам</p>
      <a href="mailto:partners@greatheart.ru" class="footer__email">partners@greatheart.ru</a>
    </div>
  </nav>
</div>
