<div class="col-sm-5 col-md-4 col-lg-3 col-xl-3 offset-1 footer-contacts">
  <p class="footer__phone">Горячая линия <span>08:00–22:00 мск</span></p>
  <a href="tel:88003505785" class="footer__phone">8 800 350 57 85 <span>По всей России</span></a>
  <a href="tel:84951980899" class="footer__phone">8 495 198 08 99 <span>По Москве</span></a>
  <a href="tel:*5785" class="footer__phone footer__phone_pl"><i></i>5785 <span>Бесплатно с мобильного</span></a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9bHBejhWFWilB2ZZmpLDTI5Y6IlyCzAjqnrqwuQR-flkFAw/viewform" target="_blank" class="btn-reset footer__btn">Написать президенту фонда</a>
</div>
