<header class="header js-header">
  <div class="container">
    <div class="row header__inner">
      <div class="col-sm-3 col-md-3 col-lg-8 col-xl-6">
        <div class="header__left">
        <a href="/" class="logo">
          <svg class="logo__img">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <p class="logo__text">Огромное сердце</p>
        </a>
        {{> navigation}}
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-4 col-xl-6">
        <div class="header__right">
          {{> search}}
          <a href="tel:88003505785" class="header__phone">8 800 350 57 85</a>
          <button class="btn-reset button header__btn-help" data-fancybox data-src="#popup-help">Нужна помощь</button>
          <a href="#pay-form" class="btn-reset button header__btn">Хочу помочь</a>
        </div>
      </div>
      <button class="btn-reset burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
