<div class="mobile-nav">
  <div class="d-flex mobile-nav__top">
    <a href="/" class="logo d-flex">
      <svg class="logo__img">
        <use xlink:href="assets/img/sprite.svg#logo"></use>
      </svg>
      <p class="logo__text">Огромное сердце</p>
    </a>
    {{> search}}
    <a href="tel:88003505785" class="header__phone">8 800 350 57 85 <span>горячая линия</span></a>
    <button class="btn-reset close mobile-nav__close">
      <svg width="16" height="16">
        <use xlink:href="assets/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="nav__list d-flex">
    <li class="nav__item sub">
      <a href="" class="nav__link">Фонд</a>
      <ul class="sub__list">
        <li class="sub__item">
          <a href="documents.html" class="sub__link">Документы</a>
        </li>
        <li class="sub__item">
          <a href="reports.html" class="sub__link">Отчеты</a>
        </li>
      </ul>
    </li>
    <li class="nav__item sub">
      <a href="wards.html" class="nav__link">Подопечным</a>
      <ul class="sub__list">
        <li class="sub__item">
          <a href="#hero" class="sub__link">Виды помощи</a>
        </li>
      </ul>
    </li>
    <li class="nav__item"><a href="#volunteering" class="nav__link">Волонтерам</a></li>
    <li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>
    <li class="nav__item"><a href="#contacts" class="nav__link">Оставить отзыв</a></li>
  </ul>

  <div class="mobile-nav__btns">
    <button class="btn-reset button mobile-nav__btn mobile-nav__btn_blue">Хочу помочь</button>
    <button class="btn-reset button mobile-nav__btn">Нужна помощь</button>
  </div>

</div>



