<nav class="nav">
    <ul class="nav__list d-flex">
      <li class="nav__item">
        <a href="" class="nav__link">Фонд</a>
        <ul class="sub-menu">
          <li class="sub-menu__item">
            <a href="reports.html" class="sub-menu__link">Отчеты</a>
          </li>
          <li class="sub-menu__item">
            <a href="documents.html" class="sub-menu__link">Документы</a>
          </li>
        </ul>
      </li>
      <li class="nav__item"><a href="#wards" class="nav__link">Подопечным</a></li>
      <li class="nav__item"><a href="#volunteering" class="nav__link">Волонтерам</a></li>
      <li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>
      <li class="nav__item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfgJpTPmYn3N6E_qO_vPQLleoSVd5PtKrrkdHPBVr-m79CzXQ/viewform" target="_blank" class="nav__link">Оставить отзыв</a></li>
    </ul>
</nav>
