<section class="pay" id="pay-form">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12">
        <div class="pay__types  d-flex">
          <h2 class="title-h2 pay__title">Помочь фонду</h2>
        </div>
      </div>
    </div>
    <div class="row mt-md-5">
      <div class="col-lg-5 col-md-7">

        <div class="pay__btns pay__btns_top d-flex mb-3">
          <label for="frequency1" class="pay__radio-label js-radio-label">
            <input type="radio" name="frequency" id="frequency1" class="pay__radio" checked>
            <span class="pay__radio-pane">Ежемесячно</span>
          </label>
          <label for="frequency2" class="pay__radio-label js-radio-label">
            <input type="radio" name="frequency" id="frequency2" class="pay__radio">
            <span class="pay__radio-pane">Разово</span>
          </label>
        </div>

        <div class="pay__btns d-flex">
          <label for="sum1" class="pay__radio-label">
            <input type="radio" name="sum" id="sum1" value="500" class="pay__radio   js-radio">
            <span class="pay__radio-pane">500 ₽</span>
          </label>
          <label for="sum2" class="pay__radio-label">
            <input type="radio" name="sum" id="sum2" value="2400" class="pay__radio  js-radio">
            <span class="pay__radio-pane">2 400 ₽</span>
          </label>
          <label for="sum3" class="pay__radio-label">
            <input type="radio" name="sum" id="sum3" value="3200" class="pay__radio  js-radio" checked>
            <span class="pay__radio-pane">3 200 ₽</span>
          </label>
          <label for="sum4" class="pay__radio-label">
            <input type="radio" name="sum" id="sum4" value="6000" class="pay__radio  js-radio">
            <span class="pay__radio-pane">6 000 ₽</span>
          </label>

          <input
            type="number"
            name="other-sum"
            class="pay__input w-100 js-input-number"
            placeholder="Другая сумма"
            maxlength="10"
            min="1"
            max="9999999999"
          >
          <button class="btn-reset pay__btn pay__submit w-100 is-active">Хочу помочь</button>
        </div>

        <ul class="pay__systems d-flex">
          <li class="pay__systems-item">
            <svg width="66" height="28">
              <use xlink:href="assets/img/sprite.svg#apple-pay"></use>
            </svg>
          </li>
          <li class="pay__systems-item">
            <svg width="71" height="28">
              <use xlink:href="assets/img/sprite.svg#google-pay"></use>
            </svg>
          </li>
          <li class="pay__systems-item">
            <svg width="79" height="28">
              <use xlink:href="assets/img/sprite.svg#sber-pay"></use>
            </svg>
          </li>
          <li class="pay__systems-item">
            <svg width="200" height="34">
              <use xlink:href="assets/img/sprite.svg#samsung-pay"></use>
            </svg>
          </li>
        </ul>
        <a href="https://qr.nspk.ru/AS1A004EHH4JDC079N3QEV2M3GGH22SR?type=01&bank=100000000187&crc=AC00" target="_blank" class="btn-reset pay__sbp-btn">
          <svg>
            <use xlink:href="assets/img/sprite.svg#sbp-btn-icon"></use>
          </svg>
          Перевести в приложении
        </a>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 offset-lg-1">
        <div class="qr-code">
          <p class="qr-code__caption">Нет карты под рукой?</p>
          <p class="qr-code__descr">Отсканируйте QR-код и переведите средства в приложении вашего банка без комиссии</p>
          <div class="qr-code__images">
            <img src="assets/img/qr-code.png" alt="">
            <img src="assets/img/qr-spb.png" alt="">
          </div>
          <a href="https://disk.yandex.ru/i/1ebix3BhHxP72g" target="_blank" class="appeal__link">
            Скачать реквизиты
            <svg>
              <use xlink:href="assets/img/sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
