<ul class="social footer__social">
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="21" height="21">
        <use xlink:href="assets/img/sprite.svg#icon-inst"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="12" height="21">
        <use xlink:href="assets/img/sprite.svg#icon-fb"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="24" height="14">
        <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="24" height="16">
        <use xlink:href="assets/img/sprite.svg#icon-yt"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="18" height="21">
        <use xlink:href="assets/img/sprite.svg#icon-tt"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="18" height="21">
        <use xlink:href="assets/img/sprite.svg#icon-ok"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <svg width="20" height="20">
        <use xlink:href="assets/img/sprite.svg#icon-dz"></use>
      </svg>
    </a>
  </li>
</ul>
